#padre-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem; 
    justify-items: center;
}

.card-hijo-bootstrap{
    cursor: pointer;
    width: 18rem;
    height: 24rem; /* 24rem */
    align-items: center;
    margin-top: 2rem;
    background-color: #eaeaea;
}

.card-hijo-bootstrap img{
    width: 15rem;
    height: 13rem; /* 13rem */
    margin-top: 1rem;
}

.card-hijo img{
    width: 20rem;
    height: 15rem;
}

.card-body{
    font-size: 12px; 
    text-align: start;
}